<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="ir.ayantech.ayanvas">

    <application android:allowBackup="false"
                 tools:replace="android:allowBackup">
        <activity android:name=".ui.AuthenticationActivity"
                  android:theme="@style/AuthenticationActivityStyle"
                  android:windowSoftInputMode="adjustResize">
        </activity>
    </application>

</manifest>